body{
    background-image: url(../img/bg.png);
    background-repeat: repeat;
    color: white;
    padding: 0px;
    margin: 0px;
}

.min_value{
    background-image: url(../img/bg_price.jpg);
    color: black;
}

.max_value{
    background-image: url(../img/bg_price.jpg);
    color: black;
}

#date{
    color:rgb(146, 25, 140);
    display: block;
    margin: 20px;
    padding: 0px;
    text-align: center;
    font-size: 25pt;
    font-family: 'Oswald', sans-serif;
}

ul {
    padding: 0px;
    margin: 10px;
}

ul li {
    padding: 0px;
    margin: 10px;
}
